In [24]:
# Define the function "say_hello" so it prints "Hello!" when called.

def say_hello():
    print("Hello!")

In [25]:
say_hello()

Hello!

In [26]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [27]:
say_something([1, 2, 3])

[1, 2, 3]

In [28]:
Samim_says = "Hi, my name is Samim. I am learning Python!"
say_something(Samim_says)

Hi, my name is Samim. I am learning Python!

In [29]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [30]:
import pandas as pd
# Convert the my_grades to a Series.
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [33]:
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [34]:
# Change the grades by one letter grade.
my_grades.map({"B": "A", "C": "B", "D": "C"})

0    A
1    B
2    A
3    C
dtype: object

In [35]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [37]:
# Convert the numerical grades to a Series.
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [38]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object